{% block plupload_widget %}
<div id="{{ id }}" class="upload_container">
    <div class="upload_images">
    {% if multiple %}
        {% for img in data %}
            {{ block('plupload_widget_image') }}
        {% endfor %}
    {% else %}
        {% if data is not null %}
            {% set img = data %}
            {{ block('plupload_widget_image') }}
        {% endif %}
    {% endif %}
        {{ block('plupload_widget_image') }}
    </div>


    <div class="blankfile file">
        <strong>Dateiname:</strong> <span class="filename">Testdatei</span><br/>
        <strong>Dateigröße:</strong> <span class="filesize">10MB</span><br/>

        <div class="progress">
            <div class="current"></div>
        </div>
    </div>
    <div class="filelist">

    </div>
    <br/>

    <a id="{{ id }}_pickfiles" class="pickfiles" href="#">
        <span>Datei auswählen</span>
    </a>
    {% set def_id = id %}
    {% set attr = attr|merge({'class': 'upload_id' }) %}
    {% if multiple %}
        {% set values = value %}
        {% for value in values %}
            {% set id = def_id ~ value %}
            {{ block('hidden_widget') }}
        {% endfor %}
    {% else %}
    {% set id = def_id ~ '_input' %}
    {{ block('hidden_widget') }}
    {% endif %}
</div>
{% endblock %}

{% block plupload_widget_image %}
{% set img = img|default(null) %}
{% set class = class|default(img is null ? 'blank' : '') %}
{% set name = img.name|default('') %}
{% set path = (img.fullPath is defined) ? img.fullPath|apply_filter('admin_thumb') : '' %}
{% set display = (img.fullPath is defined) ? '' : 'display:none;' %}

<div class="upload_preview {{ class }}" rel="{{ img.id|default('') }}" style="{{ display }}">
    {% if img is not null %}
        {% if img.isImage is not defined or img.isImage %}
            <img src="{{ path }}" alt="{{ name }}" title="{{ name }}" />
        {% else %}
            <span>{{ name }}</span>
        {% endif %}
    {% endif %}
    <div class="upload_remove"></div>
</div>
{% endblock %}
